/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
  }
  
  .supermáquina{
    background-image: url(img/fundosupermaquina.jpg);
  }

  .properigo{ 
    background-image: url(img/fundoprofperigo2.jpg);
  }

  .classea{
    background-image: url(img/fundoclassea.webp)
  }

  .aguiafire{
    background-image: url(img/fundoaguia2.jpg);
  }

  .azulthunder{
    background-image: url(img/trovaoazul1.webp);
  }
  
  body {
    font-family: "Playfair Display", serif;
    line-height: 1.6;
    background-color: #ac3434;
    color: #ffffff;
    padding-bottom: 50px;
    background-image: url(img/fundo\ index.gif);
  }
  
  header {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  header h1 {
    font-size: 2em;
  }
  
  nav {
    background-color: #333;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  nav a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  nav a:hover {
    background-color: #555;
  }
  
  .container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
    text-align: center;
  }
  
  .resumou{
    display: block;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0 10px 25px rgb(0, 0, 0);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    background-color: #00111100;

  }

  .resumou p{
    color: #fffafa;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
  }

  h2 {
    color: #faf9fdd8;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
  }
  
  .img-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 40px; 
    margin: 200px auto o;
    padding: 10px;
  }
  
  .img-grid a {
    display: block;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
  }
  
  .img-grid a:hover {
    transform: scale(1.08); /* efeito de salto */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); /* sombra mais forte */
  }
  
  .img-grid img {
    width: 200px; /* tamanho fixo das imagens tipo botão */
    height: auto;
    display: block;
    border-radius: 10px;
  }
  
  
  
  footer {
    text-align: center;
    background: #111;
    color: #fff;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  